<div>
    <div class="page_header">
        <h1 class="page_title">My Leave Status</h1>
    </div>
    <section class="search_section">
        <div class="my_status_card_container">
            <section class="my_status_card_section">
                <mat-card style="width: 100%;">
                    <div class="full-loading-shade" *ngIf="isStatusLoading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <mat-card-header>
                        <h2>Annual Leave</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Total</div>
                                    <div>{{annualLeave?.total}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Taken</div>
                                    <div>{{annualLeave?.taken}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>
                                        Balance
                                    </div>
                                    <div>
                                        {{annualLeave?.balance}}
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </section>
            <section class="my_status_card_section">
                <mat-card style="width: 100%;">
                    <div class="full-loading-shade" *ngIf="isStatusLoading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <mat-card-header>
                        <h2>Sick Leave</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Total</div>
                                    <div>{{sickLeave?.total}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Taken</div>
                                    <div>{{sickLeave?.taken}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Balance</div>
                                    <div>{{sickLeave?.balance}}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </section>
            <section class="my_status_card_section" *ngIf="isRollover">
                <mat-card style="width: 100%;">
                    <div class="full-loading-shade" *ngIf="isStatusLoading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <mat-card-header>
                        <h2>Rollover</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Total</div>
                                    <div>{{rollover?.total}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Taken</div>
                                    <div>{{rollover?.taken}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Balance</div>
                                    <div>{{rollover?.balance}}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </section>
            <section class="my_status_card_section" *ngIf="isReplacementDay">
                <mat-card style="width: 100%;">
                    <div class="full-loading-shade" *ngIf="isStatusLoading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <mat-card-header>
                        <h2>Replacement</h2>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Total</div>
                                    <div>{{replacementLeave?.total}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Taken</div>
                                    <div>{{replacementLeave?.taken}}</div>
                                </div>
                            </mat-list-item>
                            <mat-list-item role="listitem">
                                <div class="listItems">
                                    <div>Balance</div>
                                    <div>{{replacementLeave?.balance}}</div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                </mat-card>
            </section>
        </div>
    </section>
    <div style="margin-bottom: 10px;">
        <span style="font-weight: 700; font-size: 16px;">History of Leave Request/Usage</span><span>You
            can check the
            history only requested
            within 3 months.</span>
    </div>

    <section class="mat-elevation-z1">
        <div class="example-table-container">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                </div>
            </div>
            <div class="example-table-container">
                <table mat-table [dataSource]="data" class="" matSort matSortActive="createdAt" matSortDisableClear
                    matSortDirection="desc">
                    <!-- Request Date -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Request Date
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.createdAt | date}}</td>
                    </ng-container>

                    <!-- Period -->
                    <ng-container matColumnDef="period">
                        <th mat-header-cell *matHeaderCellDef disableClear>
                            Period
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.leaveStartDate | date }} ~ {{row.leaveEndDate | date}}
                        </td>
                    </ng-container>

                    <!-- year -->
                    <ng-container matColumnDef="year">
                        <th mat-header-cell *matHeaderCellDef>year</th>
                        <td mat-cell *matCellDef="let row">{{row.year + 1}}</td>
                    </ng-container>


                    <!-- Day(s) -->
                    <ng-container matColumnDef="day">
                        <th mat-header-cell *matHeaderCellDef>Day(s)</th>
                        <td mat-cell *matCellDef="let row">{{row.leaveDay}}</td>
                    </ng-container>

                    <!-- Type -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let row">{{row.leaveType}}</td>
                    </ng-container>

                    <!-- Status -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>Status</th>
                        <td mat-cell *matCellDef="let row">{{row.status}}</td>
                    </ng-container>

                    <!-- button -->
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef>detail</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-flat-button color="primary">detail</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data</td>
                    </tr>
                </table>
            </div>
            <mat-paginator [length]="resultsLength" [pageSize]="30"
                aria-label="Select page of GitHub search results"></mat-paginator>
        </div>
    </section>
</div>