<div>
    <div class="page_header">
        <h1 class="page_title">Employee Replacement Day Confirming Request</h1>
    </div>

    <section class="table_section mat-elevation-z1">
        <div class="example-table-container">
            <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                </div>
            </div>
            <div class="example-table-container">
                <table mat-table [dataSource]="data" class="" matSort matSortActive="createdAt" matSortDisableClear
                    matSortDirection="desc">
                    <!-- Name -->
                    <ng-container matColumnDef="createdAt">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Request Day
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.createdAt | date}}</td>
                    </ng-container>

                    <!-- department -->
                    <ng-container matColumnDef="period">
                        <th mat-header-cell *matHeaderCellDef disableClear>
                            Period
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.leaveStartDate | date }} ~ {{row.leaveEndDate | date}}

                        </td>
                    </ng-container>

                    <!-- year -->
                    <ng-container matColumnDef="requestor">
                        <th mat-header-cell *matHeaderCellDef>Requestor</th>
                        <td mat-cell *matCellDef="let row">{{row.requestor.username}}</td>
                    </ng-container>


                    <!-- Type -->
                    <ng-container matColumnDef="tenure">
                        <th mat-header-cell *matHeaderCellDef>Tenure(Today)</th>
                        <td mat-cell *matCellDef="let row">{{row['tenure(today)']}}</td>
                    </ng-container>
                    <!-- button -->
                    <ng-container matColumnDef="button">
                        <th mat-header-cell *matHeaderCellDef>Detail</th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-flat-button (click)="openDialogReplaceDayConfirmingRequestDetail(row)"
                                color="primary">detail</button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                    <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">No data</td>
                    </tr>
                </table>
            </div>
            <mat-paginator [length]="resultsLength" (page)="handlePageEvent()" [pageSize]="10"
                [pageSizeOptions]="[10, 30, 50]" aria-label="Select page of GitHub search results"></mat-paginator>
        </div>
    </section>
</div>