<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
    <button (click)="openSidenav()" mat-icon-button fxHide.gt-md>
        <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1"></span>

    <div style="display: flex; align-items: center; gap: 10px;">
        <button mat-icon-button>
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-button>
            <div class="profile_button">
                <img class="profile_image" [src]="userProfileData?.profile_img" alt="" />
                <span>{{userProfileData?.username}}</span>
            </div>
        </button>
    </div>
</mat-toolbar>