@import '../../../../styles.scss';

.profile_button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile_image {
    width: 35px;
    border-radius: 100%;
    background-color: #fff;
}



.menu_header {
    padding: 1rem 1.5rem;
    background: $smart_service_primary_color;
    color: #fff;
}