<div>
    <div class="page_header">
        <h1 class="page_title">Leave Request</h1>
        <button mat-flat-button color="primary" [routerLink]="['/leave/request-leave']">Request Leave</button>
    </div>
    <section class="search_section">
        <form>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Search
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-flat-button color="primary" type="submit">SEARCH</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </section>

    <section class="table_section">

    </section>
</div>