<div>
  <div class="page_header">
    <h1 class="page_title">Employee List</h1>
  </div>
  <section class="search_section">
    <mat-card>
      <form [formGroup]="searchForm" (ngSubmit)="SearchRequest()">
        <mat-card-content>
          <div class="search_container">
            <div>
              <div class="search_tile">
                <span class="search_title">Name</span>

                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput formControlName="username" />
                </mat-form-field>
              </div>
            </div>
            <div>
              <div class="search_tile">
                <span class="search_title">Year</span>

                <mat-form-field appearance="fill">
                  <mat-label>Year</mat-label>
                  <input matInput [matDatepicker]="datepicker" formControlName="date">
                  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #datepicker startView="multi-year" (yearSelected)="setYear($event, datepicker)">
                  </mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-flat-button color="primary" type="submit">SEARCH</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
  <section class="table_section mat-elevation-z1">
    <div class="example-table-container">
      <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
          API rate limit has been reached. It will be reset in one minute.
        </div>
      </div>
      <div class="example-table-container">
        <table mat-table [dataSource]="data" class="" matSort matSortActive="username" matSortDisableClear
          matSortDirection="asc">
          <!-- Name -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Name
            </th>
            <td mat-cell *matCellDef="let row">{{row.username}}</td>
          </ng-container>

          <!-- email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Email
            </th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
          </ng-container>

          <!-- department -->
          <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef disableClear>
              Department
            </th>
            <td mat-cell *matCellDef="let row">{{row.department}}

            </td>
          </ng-container>

          <!-- year -->
          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let row">{{row.year >= 0 ? row.year + 1: '-'}}</td>
          </ng-container>

          <!-- entitlement -->
          <ng-container matColumnDef="taken/Entitlement">
            <th mat-header-cell *matHeaderCellDef>Taken/Entitlement</th>
            <td mat-cell *matCellDef="let row">{{row['taken/Entitlement'] }}</td>
          </ng-container>
          <!-- sickLeave -->
          <ng-container matColumnDef="taken/SickLeave">
            <th mat-header-cell *matHeaderCellDef>Taken/SickLeave</th>
            <td mat-cell *matCellDef="let row">{{row['taken/SickLeave']}}</td>
          </ng-container>
          <!-- rollover -->
          <ng-container matColumnDef="taken/Rollover">
            <th mat-header-cell *matHeaderCellDef>Taken/Rollover</th>
            <td mat-cell *matCellDef="let row">{{row.isRollover ? row['taken/Rollover']: 'X' }}</td>
          </ng-container>




          <!-- RD -->
          <ng-container matColumnDef="RD">
            <th mat-header-cell *matHeaderCellDef>Taken/RD</th>
            <td mat-cell *matCellDef="let row">{{row.isReplacementDay ? row['taken/RD'] : 'X'}}</td>
          </ng-container>

          <!-- Type -->
          <ng-container matColumnDef="tenure">
            <th mat-header-cell *matHeaderCellDef>Tenure(Today)</th>
            <td mat-cell *matCellDef="let row">{{row['tenure(today)']}}</td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data</td>
          </tr>
        </table>
      </div>
      <mat-paginator [length]="resultsLength" (page)="handlePageEvent()" [pageSize]="10"
        [pageSizeOptions]="[10, 30, 50]" aria-label="Select page of GitHub search results"></mat-paginator>
    </div>

  </section>
</div>