<div class="intro-section">
  <h1>Contract Validator</h1>
  <p>In this section, you can verify the authenticity of your contracts. Simply select your contract and click 'Verify'.
  </p>
</div>


<div class="upload-section">
  <div class="file-input">
    <mat-form-field appearance="outline">
      <input matInput [value]="fileName" [placeholder]="'Pdf upload'" disabled />
    </mat-form-field>
  </div>

  <input type="file" id="fileInput" #fileInputElement style="display: none;" (change)="onFileSelected($event)"
    name="fileInput" accept="application/pdf" />
  <button mat-flat-button type="button" class="custom-file-input-button" (click)="fileInputElement.click()">Choose PDF
    File</button>


  <button (click)="validateContract()" color="primary" mat-flat-button> Verify </button>
</div>